---
layout: default
---

{% include category.html category="backend" color="purple" title="Backend & Architecture" subtitle="Sql – indexeur – service - client lourd" %}

{% include category.html category="frontweb" color="orange" title="Front Web" subtitle="Html, Javascript and css" %}

{% include category.html category="craftsmanship" color="green" title="Craftsmanship & Formation" subtitle="Harder, Better, Faster, Stronger" %}

{% include category.html category="mobilite" color="blue" title="Mobilite" subtitle="Ios – android – WinPhone – PhoneGap - Xamarin " %}


{% include category.html category="cloud" color="red" title="DevOps & Clouds" subtitle="Azure, AWS, infrastructure & deployement" %}
