.container{
    margin-top: 35px;
}

.header-info{
    margin: 20px auto;
    width: 45%;
}

.header-photo {
    margin: 20px;
}

.card-profile,
.card-testimonial {
  margin-top: 25px;
  height: 480px;
  float: right;
}

.skills{
    height: 300px;
}

.progress {
    margin-bottom: 0;
}

.card .card-header.card-header-icon {
    float: left;
}

.card .card-header.card-header-icon + .card-content .card-title {
        margin-top: 0;
    padding-bottom: 15px;
}


.mission {
    margin-top:15px;
}

.mission:not(:last-child) {
    border-bottom:1px solid #eeeeee;
}

.card-header {
    width: 350px;
    }

@media (max-width: 768px){
.card-profile,
.card-testimonial {
  margin-top: 25px;
  height: auto;
  float: none;
}

.card-header {
    width: auto;
    }
}